- provide(:title, t('how_it_works'))
= render 'layouts/pie_header'
.c_customer.afclr
  .wrapper
    .re_main.afclr
      .ab_head.afclr
        %h1= t('how_it_works')
      .in_iner_pag.afclr
        Text
