- provide(:title, t('balancer_pools'))
= render 'layouts/pie_header'
.c_customer.afclr
  .wrapper
    .re_main.afclr
      .ab_head.afclr
        %h1= t('balancer_pools')
  = render 'layouts/pie_footer'
