#proportions {
  width: 250px;
  border: 0px;
  color: #f6931f;
  font-weight: bold;
}

.short_input {
  display: inline-block;
  width: 50px
}

.medium_input {
  display: inline-block;
  width: 80px
}

table caption {
  caption-side: top;
}

.alert-wrapper {
  position: absolute;
  top: 111px;
  left: 50px;
  width:50%;
  background-color: skyblue;
}

.setting_img {
  width:30px;
}

.vl {
  border-left: 3px solid skyblue;
  height: 400px;
}
